.banner{
  font-family: Cabin;
  font-size: 24px;
  position: absolute;
  top: 78px;
  right: 96px;
margin-right:45px;
}
ul{
  display: inline;
}
a:link{
  color:black;
  text-decoration: none;
}

a:visited{
  color:black;
  text-decoration: none;
}
.text{
  font-family: Cabin;
}
#HeadingL1{
  position: absolute;
width: 642px;
height: 78px;
left: 96px;
top: 233px;
  font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 78px;
}
#HeadingL2{
  position: absolute;
width: 1061px;
height: 78px;
left: 184px;
top: 359px;
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 78px;
}
#Yellowstone{
  position: absolute;
width: 100%;
height: 630px;
left: 0px;
top: 548px;

background: url(imgs/Mountain_Home.png);
}
#fiveParks{
  position: absolute;
width: 254px;
height: 39px;
left: 96px;
top: 1154px;

font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
}
#timeline_head{
  position: absolute;
width: 545px;
height: 39px;
left: 148px;
top: 1950px;

font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
}
#timeline_des{
  position: absolute;
width: 474px;
height: 120px;
left: 184px;
top: 2107px;
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 40px;

text-align: center;
}
#gallery_head{
  position: absolute;
width: 360px;
height: 39px;
left: 958px;
top: 2707px;

font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
}
#gallery_des{
  position: absolute;
width: 474px;
height: 160px;
left: 897px;
top: 2853px;

font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 40px;
text-align: center;
}
#timeline_button{
  position: absolute;
width: 180px;
height: 60px;
left: 330px;
top: 2351px;
font-size: 24px;
background-color: #2E5F4A;
color:white;
}
#gallery_button{
  position: absolute;
width: 211px;
height: 60px;
left: 1030px;
top: 3108px;
font-size: 24px;
background-color: #2E5F4A;
color:white;
}
#timeline_rect{
  position: absolute;
width: 714px;
height: 582px;
left: 798px;
top: 1834px;
background: #194834;
}
#gallery_rect{
  position: absolute;
  width: 714px;
  height: 582px;
  top: 2586px;
  background: #194834;
transform: matrix(-1, 0, 0, 1, 0, 0);
overflow-x: hidden;
}
#timeline_ell{
  position: absolute;
  width: 175px;
  height: 175px;
  left: 1309px;
  top: 1837px;
z-index:1;
}
#canyon_home{
  position: absolute;
width: 544px;
height: 576px;
left: 862px;
top:1899px;
z-index: 2;
}
#gallery_home{
  position: absolute;
width: 500px;
height: 550px;
left: 106px;
top: 2651px;
}
#river{
  position: absolute;
width: 264px;
height: 288px;
left: 106px;
top: 2651px;
z-index: 2;
}
#Rush{
  position: absolute;
width: 280px;
height: 288px;
left: 370px;
top: 2651px;
}
#mountain{
  position: absolute;
width: 264px;
height: 288px;
left: 106px;
top: 2939px;
}
#canyon{
  position: absolute;
width: 280px;
height: 288px;
left: 370px;
top: 2939px;
padding-bottom: 100px;
}
#parks_banner{
  position: absolute;
width: 430px;
height: 124px;
left: 167px;
top: 2882px;
z-index: 2;

}
#gallery_banner{
  position: absolute;
width: 359px;
height: 40px;
left: 203px;
top: 2899px;
z-index: 2;
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 40px;
/* identical to box height, or 167% */

text-align: center;

}
#gallery_ell{
position: absolute;
width: 175px;
height: 175px;
left: 43px;
top: 2593px;
z-index: 1;
box-sizing: border-box;
transform: matrix(-1, 0, 0, 1, 0, 0);
}
#location_rect{
  position: absolute;
width: 690px;
left: -40px;/* FIXME:  */
height: 92px;
top: 502px;

}
#location_name{
  position: absolute;
width: 95px;
height: 29px;
left: 21px;
top: 525px;

font-family: 'Cabin';
font-style: normal;
/* font-weight: 400; */
font-size: 24px;
/* line-height: 29px; */
}
#logo{
  font-family: Rock Salt;
  font-weight: bolder;
  font-size: 24px;
  position:absolute;
  left:49px;
  top:45px;
}
#NY{
  position: absolute;
width: 95px;
height: 29px;
left: 4px;
top: 510px;

font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 29px;

}
#SD{
  position: absolute;
  width: 139px;
  height: 29px;
  left: 134px;
  top: 510px;

  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;

}
#WY{
  position: absolute;
  width: 100px;
  height: 29px;
  left: 308px;
  top: 510px;

  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;

}
#AZ{
  position: absolute;
  width: 77px;
  height: 29px;
  left: 443px;
  top: 510px;

  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
}
#CA{
  position: absolute;
  width: 96px;
  height: 29px;
  left: 555px;
  top: 510px;

  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
}
#dash1{
  position: absolute;
width: 25px;
height: 0px;
left: 105px;
top: 522px;
}
#dash2{
  position: absolute;
width: 25px;
height: 0px;
left: 275px;
top: 522px;
}
#dash3{
  position: absolute;
width: 25px;
height: 0px;
left: 413px;
top: 522px;
}
#dash4{
  position: absolute;
width: 25px;
height: 0px;
left: 528px;
top: 522px;
}
#Slideshow_title{
  position: absolute;
width: 254px;
height: 39px;
left: 25px;
top: 1190px;

font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
}
#gallery_title{
  position: absolute;
font-size: 40%;
left: 700px;
top: 237px;

font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
}
#gallery_page_rect{
  position: absolute;
width: 70%;
height: 70%;
left: 192px;
top: 387px;
color: rgba(0,0,0,0.25);
filter: drop-shadow(10px 10px 8px);
padding-bottom: 150px;
padding-left: 75px;
}
#gallery_p1{
  position: absolute;
font-size:40%;
left: 267px;
top: 475px;

font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;
}
#artsteps_img{
  position: absolute;
width: 15%;
height: 60%;
left: 850px;
top: 387px;
}
#gallery_link{
  position: absolute;
width: 219px;
height: 60px;
left: 371px;
top: 831px;
font-size: 24px;
background-color: #2E5F4A;
color:white;
}
html,body{
  margin:0px;
}
#river_gallery{
  position: absolute;
  left:-20px;
  top: 1270px;
}
#rush_gallery{
  position: absolute;
  left: 265px;
  top:1270px;
}
#Mountain_gallery{
  position: absolute;
  left:567px;
  top: 1270px;

}
#Canyon_gallery{
  position: absolute;
  left: 853px;
  top: 1270px;

}
#AI_gallery{
  position: absolute;
  left: 1147px;
  top:1270px;
}
@media only screen and (max-width: 600px) {

.artsteps{
width: 40%;
height:50%;
}

#gallery_page_rect{
  width:40%;
  height:50%;
}
#artsteps_img{
  width:20%;
  height:50%;
}
.gallery_content{
  width: 70%;
  height: 30%;
}
#gallery_p1{
  width:50%;
}



}
@media only screen and (min-width: 600px) {

.artsteps{
width: 80%;
height:50%;
}
#gallery_page_rect{
  width:81%;
  height:60%;
}
#artsteps_img{
  width:25%;
  height:60%;
}
#gallery_p1{
  width:30%;
}
.gallery_content{
  width: 60%;
  height: 50%;
}


}
@media only screen and (min-width: 1900px) {
#gallery_title{
  padding-left: 100px;
}



}
